@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  max-width: 50%;
}

.title {
  font-size: clamp(40px, 5vw, 72px); /* Scales based on screen size */
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: clamp(18px, 3vw, 30px);
  font-family: var(--font-roboto);
  margin-bottom: 40px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: clamp(18px, 2.5vw, 30px);
  font-weight: 600;
  padding: 12px 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 45%;
  max-width: 450px;
  min-width: 250px;
  z-index: 1;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image fills the circle properly */
  animation: floating 3s ease-in-out infinite;
}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur,
.bottomBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.topBlur {
  top: -128px;
  left: -10vw;
}

.bottomBlur {
  top: 246px;
  right: -25vw;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .content {
    align-items: center;
    max-width: 100%;
  }

  .heroImg {
    width: 60%;
  }

  .contactBtn {
    padding: 10px 18px;
  }
}
